@import url(global.css);
@import url(navbar.css);

.threads-wrapper {
    position: fixed;
    right: 0;
    top: 60px;
    width: 330px;
    height: 100%;
    background-color: var(--color3);
    border-radius: 15px;

    margin: var(--space-medium);
}

.main-wrapper {
    margin-top: 60px; /* Pushes content down past the navbar height */
    margin-left: 250px; /* Pushes content right past the sidebar width */
    margin-right: 330px; /* Pushes content right past the threads width */

    min-height: calc(100vh - 60px); /* Ensures main takes up the rest of the screen */

    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--color2);
    justify-content: center;
    align-items: center;
    padding: var(--space-small);
}

hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--color3);
    margin: var(--space-medium);
}