@import url(global.css);

.navbar {
    position: fixed;
    top: 0;

    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color2);
    border-bottom: 1px solid var(--color3);
    z-index: 20;

    padding: 0 var(--space-small);
    gap: var(--space-medium);
}

.navbar-logo {
    display: flex;
    justify-content: center;
    width: auto;  

    & img {
        height: 50px;
        width: auto;
        display: block;
    }
}

.searchbar {
    flex: 8;
    position: relative;
    display: flex;
    align-items: center;
}

.searchbar input {
    width: 100%;
    padding: var(--space-small);
    padding-right: 40px;  /* Space for icon */
    /* SEARCHBAR design */
    border: 1px solid var(--color3);
    border-radius: 8px;
    background-color: var(--color1);
    color: var(--color5);
    font-size: 14px;
    transition: all 0.1s ease;
}

.searchbar input::placeholder {
    color: var(--color4);
}

.searchbar input:focus {
    outline: none;
    border-color: var(--color5);
    box-shadow: 0 0 0 3px rgba(var(--color5-rgb), 0.1);
}

.searchbar input:hover:not(:focus) {
    border-color: var(--color4);
}

.searchbar i {
    position: absolute;
    right: 12px;
    color: var(--color4);
    pointer-events: none;
}

.icon-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-xsmall);
}

.icon-button {
    background-color: transparent;
    color: var(--color5);
    font-size: 26px;        /* Icon size */
}



.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    height: 100%;
    width: 250px;
    padding: var(--space-small);

    display: flex;
    flex-direction: column;

    background-color: var(--color2);
    border-right: 1px solid var(--color3);

    z-index: 10;
}

.create-report {
    margin: var(--space-small) 0;
}
.create-report button {
    width: 100%;
    padding: var(--space-medium);
    font-weight: 600;
    font-size: calc(var(--font-medium) + 3px);
    border-radius: 8px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar-options-wrapper {
    display: flex;
    flex-direction: column;
    /* gap between the title and the options */
    gap: var(--space-xsmall);

    & hr {
        height: 1px;
        border: none;
        background-color: var(--color3);
        margin: var(--space-xsmall) 0;
    }
}

.sidebar-title {
    color: var(--color4);
    font-size: var(--font-small);
    padding-top: var(--space-xsmall);
    font-weight: 600;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
}

.sidebar-options a {
    outline: none;
    padding: var(--space-xsmall);
    text-decoration: none;
    color: var(--colorText);
    font-size: var(--font-medium);
    transition: 0.1s ease-out;
}

.sidebar-options a:hover {
    background-color: var(--color3);
    border-radius: 8px;
}
